<h5 class="mt-4">CONTRIBUYENTES</h5>
<hr>

<div class="my-5">
  <table class="table table-striped w-100">
    <thead>
      <tr>
        <th style="color: #2cb34a;">RNC/Cedula</th>
        <th style="color: #2cb34a;">Nombre</th>
        <th style="color: #2cb34a;">Tipo</th>
        <th style="color: #2cb34a;">Estatus</th>
        <th style="color: #2cb34a;"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contribuyente of contribuyentes">
        <td>{{ contribuyente.rncCedula }}</td>
        <td>{{ contribuyente.nombre }}</td>
        <td>{{ contribuyente.tipo }}</td>
        <td>{{ contribuyente.estatus }}</td>
        <td>
            <a routerLink="/contribuyentes/{{contribuyente.rncCedula}}">consultar</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

